{{ define "subject-form" }}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <label class="control-label label-font-color">Subject</label>
            <select name="subject" class="selectpicker"
                    data-style="btn-default btn-outline"
                    data-menu-style="dropdown-blue">
                <option value="" disabled selected>Select Subject</option>
                <option value="">English</option>
            </select>
        </div>
        <div class="col-md-2">
            <label class="control-label label-font-color">Score</label>
            <input class="form-control margin-top-5" type="text" name="score"
                   value="" required="true"
                   placeholder="ex: 34.8"/>
        </div>
        <div class="col-md-2">
            <label class="control-label label-font-color">&nbsp;</label>
            <button type="submit" id="updateButton"
                    class="btn btn-wd btn-info btn-outline bootstrap-select">
                                                    <span class="btn-label">
                                                        <i class="fa fa-exclamation"></i>
                                                    </span>
                Update
            </button>
        </div>
    </div>
{{ end }}