{{define "sidebar"}}
    <div class="logo"
         style="padding-left: 40px;padding-top: 0px;padding-bottom: 0px;background: #ffea00;height: 60px">
        <a href="#" class="simple-text logo-normal">
            <img src="../../../assets/img/Logo-04.png" alt="Logo"
                 style="width: 176px; height: 55px;alignment: center">
        </a>
    </div>
    <div class="user">
        <div class="photo">
            <!--img src="../../../assets/img/default-avatar.png"/-->
            <img src="../../../assets/img/faces/face-1.jpg"/>
        </div>
        <div class="info">
            <a class="nav-item">
                        <span>
                            {{ if .Student.FirstName }}
                                {{ .Student.FirstName }}
                            {{ else }} first-name
                            {{ end }}
                            <!-- <b class="caret"></b>-->
                        </span>
            </a>
        </div>
    </div>
    <ul class="nav" style="position: center">
        <li class="nav-item ">
            <a class="nav-link" href="/users/student">
                <i class="nc-icon nc-chart-pie-35"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#profileMenu">
                <i class="nc-icon nc-single-02"></i>
                <p>
                    Profile
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse {{if eq .Menu "profile" }} show {{end}}" id="profileMenu">
                <ul class="nav">
                    <li class="nav-item {{ if eq .SubMenu "personal" }} active {{ end }} ">
                        <a class="nav-link" href="/users/student/profile/personal">
                            <span class="sidebar-mini">P</span>
                            <span class="sidebar-normal">Personal</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "demography" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/profile/demography">
                            <span class="sidebar-mini">D</span>
                            <span class="sidebar-normal">Demography</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "address" }} active {{ end }} ">
                        <a class="nav-link" href="/users/student/profile/address">
                            <span class="sidebar-mini">A</span>
                            <span class="sidebar-normal">Address</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "contacts" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/profile/contacts">
                            <span class="sidebar-mini">C</span>
                            <span class="sidebar-normal">Contacts</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "districts" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/profile/districts">
                            <span class="sidebar-mini">D&M</span>
                            <span class="sidebar-normal">District/Municipality</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "relative" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/profile/relative">
                            <span class="sidebar-mini">R</span>
                            <span class="sidebar-normal">Relative</span>
                        </a>
                    </li>
                    <li class="nav-item {{ if eq .SubMenu "settings" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/profile/settings">
                            <span class="sidebar-mini">S</span>
                            <span class="sidebar-normal">Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="#bursaryMenu">
                <i class="nc-icon nc-attach-87"></i>
                <p>
                    Bursary
                    <b class="caret"></b>
                </p>
            </a>
            <div class="collapse  {{if eq .Menu "bursary" }} show {{end}}" id="bursaryMenu">
                <ul class="nav">
                    <li class="nav-item {{ if eq .SubMenu "application" }} active {{ end }}">
                        <a class="nav-link" href="/users/student/bursary/application">
                            <span class="sidebar-mini">A</span>
                            <span class="sidebar-normal">Application</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/users/student/bursary/history">
                            <span class="sidebar-mini">H</span>
                            <span class="sidebar-normal">History</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <hr />
        <li class="nav-item ">     <!-- to fix below href-->
            <a class="nav-link" href="/logout">
                <!-- <i class="nc-icon nc-single-copy-04"></i>-->
                <p style="position: center">Log out </p>
            </a>
        </li>
    </ul>
{{end}}