{{define"panel"}}
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h4 class="card-title text-center">Page Subcategories</h4>
            <br/>
            <div class="nav-container">
                <ul class="nav nav-icons justify-content-center" role="tablist">
                    <li class="nav-item show active">
                        <a class="nav-link" id="description-tab" href="#description-logo" role="tab" data-toggle="tab">
                            <i class="nc-icon nc-notes"></i>
                            <br> Description
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="location-tab" href="#map-logo" role="tab" data-toggle="tab">
                            <i class="nc-icon nc-pin-3"></i>
                            <br> Location
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="legal-info-tab" href="#legal-logo" role="tab" data-toggle="tab">
                            <i class="nc-icon nc-bank"></i>
                            <br> Legal Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="help-tab" href="#help-logo" role="tab" data-toggle="tab">
                            <i class="nc-icon nc-support-17"></i>
                            <br> Help Center
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="description-logo" aria-labelledby="info-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Description about product</h4>
                            <p class="card-category">More information here</p>
                        </div>
                        <div class="card-body">
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a
                                smooth metal surface that seamlessly meets the new Retina HD display.</p>
                            <p>The first thing you notice when you hold the phone is how great it feels in your hand.
                                There are no distinct edges. No gaps. Just a smooth, seamless bond of metal and glass
                                that feels like one continuous surface.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="map-logo" aria-labelledby="info-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Location of product</h4>
                            <p class="category">Here is some text</p>
                        </div>
                        <div class="card-body">
                            <p>Another Text. The first thing you notice when you hold the phone is how great it feels in
                                your hand. The cover glass curves down around the sides to meet the anodized aluminum
                                enclosure in a remarkable, simplified design.</p>
                            <p>Larger, yet dramatically thinner.It’s one continuous form where hardware and software
                                function in perfect unison, creating a new generation of phone that’s better by any
                                measure.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="legal-logo" aria-labelledby="info-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Legal items</h4>
                            <p class="category">More information here</p>
                        </div>
                        <div class="card-body">
                            <p>The first thing you notice when you hold the phone is how great it feels in your hand.
                                The cover glass curves down around the sides to meet the anodized aluminum enclosure in
                                a remarkable, simplified design.</p>
                            <p>Larger, yet dramatically thinner.It’s one continuous form where hardware and software
                                function in perfect unison, creating a new generation of phone that’s better by any
                                measure.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="help-logo" aria-labelledby="info-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Help center</h4>
                            <p class="category">More information here</p>
                        </div>
                        <div class="card-body">
                            <p>From the seamless transition of glass and metal to the streamlined profile, every detail
                                was carefully considered to enhance your experience. So while its display is larger, the
                                phone feels just right.</p>
                            <p>Another Text. The first thing you notice when you hold the phone is how great it feels in
                                your hand. The cover glass curves down around the sides to meet the anodized aluminum
                                enclosure in a remarkable, simplified design.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tab card-body -->
        </div>
        <!-- end col-md-8 -->
    </div>
    <!-- end row -->
{{end}}