<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>OBAS</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS Files -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../../assets/css/demo.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../assets/css/custom/student/application.css" rel="stylesheet"/>
</head>

<body>
<div class="wrapper">

    {{ template "sidebar" .}}


    <div class="main-panel">
        <!-- Navbar -->

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar"
                                class="btn btn-warning btn-fill btn-round btn-icon d-none d-lg-block">
                            <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                            <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <a class="navbar-brand" href="#pablo"> Support </a>
                </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="nav navbar-nav mr-auto">
                        <form class="navbar-form navbar-left navbar-search-form" role="search">
                            <div class="input-group">
                                <i class="nc-icon nc-zoom-split"></i>
                                <input type="text" value="" class="form-control" placeholder="Search...">
                            </div>
                        </form>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-planet"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#">Create New Post</a>
                                <a class="dropdown-item" href="#">Manage Something</a>
                                <a class="dropdown-item" href="#">Do Nothing</a>
                                <a class="dropdown-item" href="#">Submit to live</a>
                                <li class="divider"></li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </ul>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-bell-55"></i>
                                <span class="notification">5</span>
                                <span class="d-lg-none">Notification</span>
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#">Notification 1</a>
                                <a class="dropdown-item" href="#">Notification 2</a>
                                <a class="dropdown-item" href="#">Notification 3</a>
                                <a class="dropdown-item" href="#">Notification 4</a>
                                <a class="dropdown-item" href="#">Notification 5</a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="nc-icon nc-bullet-list-67"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">
                                    <i class="nc-icon nc-email-85"></i> Messages
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="nc-icon nc-umbrella-13"></i> Help Center
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="nc-icon nc-settings-90"></i> Settings
                                </a>
                                <div class="divider"></div>
                                <a class="dropdown-item" href="#">
                                    <i class="nc-icon nc-lock-circle-open"></i> Lock Screen
                                </a>
                                <a href="#" class="dropdown-item text-danger">
                                    <i class="nc-icon nc-button-power"></i> Log out
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- End Navbar -->


        <div class="content">
            <div class="container-fluid">


                <!----------->
                <div class="classic-tabs mx-2">

                    <ul class="nav nav-tabs md-tabs" id="poolsRolesTab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link  waves-light" id="users-table-tab" data-toggle="tab"
                               href="#TitleTab"
                               role="tab" aria-controls="users-table" aria-selected="true">
                                <div style="text-align: center;"><i class="fas fa-user fa " aria-hidden="true"></i>
                                </div>
                                <br>Title</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link  waves-light" id="users-table-tab" data-toggle="tab"
                               href="#GenderTab"
                               role="tab" aria-controls="users-table" aria-selected="true">
                                <div style="text-align: center;"><i class="fas fa-user fa " aria-hidden="true"></i>
                                </div>
                                <br>Gender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  waves-light" id="users-table-tab" data-toggle="tab"
                               href="#RoleTab"
                               role="tab" aria-controls="users-table" aria-selected="true">
                                <div style="text-align: center;"><i class="fas fa-user fa " aria-hidden="true"></i>
                                </div>
                                <br>Role</a>
                        </li>

                    </ul>

                    <div class="tab-content card" id="rolesTabContent">

                        <div class="tab-pane fade {{.Tabs.Tab1}}" id="TitleTab" role="tabpanel"
                             aria-labelledby="pool-roles">
                            <p></p>
                            <!-- Table with panel -->
                            <div class="content">
                                <div class="container-fluid">

                                    <div class="card green">
                                        <form id="" method="post" action="/support/demography/create/title">

                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <label class="control-label label-font-color">Title</label>
                                                    <input type="text" name="tile" class="form-control"
                                                           placeholder="Enter type ..." id="">
                                                </div>
                                            </div>



                                            <div class="row justify-content-center">
                                                <div class="col-md-8 text-center">
                                                    <button type="submit" id="documentUpdateBtn"
                                                            class="btn btn-wd btn-info btn-outline full-width">
                                             <span class="btn-label">
                                             </span>Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- INSTITUTION TYPE --->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card strpied-tabled-with-hover">
                                                <div class="card-body table-full-width table-responsive">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <th>Role</th>
                                                        <th class="text-center">Actions</th>
                                                        </thead>
                                                        <tbody>
                                                        {{ with .Title }}
                                                            {{ range .}}
                                                                <tr>
                                                                    <td>{{ .TitleName}}</td>
                                                                    <td><div class="row justify-content-center">
                                                                            <div class="col-md-6">
                                                                                <a class="edit" title="Edit"
                                                                                   data-toggle="modal" data-target="#editTileModal" href=""
                                                                                   onclick="editTitleForm({{.}})"><i
                                                                                            class="material-icons">&#xE254;</i></a>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <a class="delete" title="Delete" onclick="Deleting({{.TitleId}},{{ .TitleName}},'title')" href=""
{{/*                                                                                   href="/support/management/demography/title/delete/{{.TitleId}}"*/}}
                                                                                   data-toggle="modal"><i
                                                                                            class="material-icons">&#xE872;</i></a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {{ end }}
                                                        {{ end}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table with panel -->
                        </div>

                        <div class="tab-pane fade {{.Tabs.Tab2}}" id="GenderTab" role="tabpanel"
                             aria-labelledby="pool-roles">
                            <p></p>
                            <!-- Table with panel -->
                            <div class="content">
                                <div class="container-fluid">

                                    <div class="card green">
                                        <form id="" method="post" action="/support/management/demography/create/gender">

                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <label class="control-label label-font-color">Applicant Type</label>
                                                    <input type="text" name="applicationType" class="form-control"
                                                           placeholder="Enter type ..." id="">
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <label class="control-label label-font-color">Description</label>
                                                    <input type="text" name="Description" class="form-control"
                                                           placeholder="" id="">
                                                </div>
                                            </div>


                                            <div class="row justify-content-center">
                                                <div class="col-md-8 text-center">
                                                    <button type="submit" id="documentUpdateBtn"
                                                            class="btn btn-wd btn-info btn-outline full-width">
                                             <span class="btn-label">
                                             </span>Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- INSTITUTION TYPE --->

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card strpied-tabled-with-hover">
                                                <div class="card-body table-full-width table-responsive">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <th>Gender</th>
                                                        <th class="text-center">Action</th>
                                                        </thead>
                                                        <tbody>
                                                        {{with .Gender}}
                                                            {{range .}}
                                                                <tr>

                                                                    <td>{{.GenderName}}</td>
                                                                    <td><div class="row justify-content-center">
                                                                            <div class="col-md-6">
                                                                                <a class="edit" title="Edit"
                                                                                   data-toggle="modal" data-target="#editGenderModal" href=""
                                                                                   onclick="editGenderForm({{.}})"><i
                                                                                            class="material-icons">&#xE254;</i></a>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <a class="delete" title="Delete"
                                                                                   href="/support/management/demography/gender/delete/{{.GenderId}}"
                                                                                   data-toggle="tooltip"><i
                                                                                            class="material-icons">&#xE872;</i></a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {{end}}
                                                        {{end}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>

                        <div class="tab-pane fade {{.Tabs.Tab3}}" id="RoleTab" role="tabpanel"
                             aria-labelledby="pool-roles">
                            <p></p>
                            <!-- Table with panel -->
                            <div class="content">
                                <div class="container-fluid">

                                    <div class="card green">
                                        <form id="" method="post" action="/support/management/demography/create/role">

                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <label class="control-label label-font-color">Role Name</label>
                                                    <input type="text" name="role" class="form-control"
                                                           placeholder="Enter type ..." id="">
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    <label class="control-label label-font-color">Role Description</label>
                                                    <input type="text" name="roleDescription" class="form-control"
                                                           placeholder="" id="">
                                                </div>
                                            </div>


                                            <div class="row justify-content-center">
                                                <div class="col-md-8 text-center">
                                                    <button type="submit" id="documentUpdateBtn"
                                                            class="btn btn-wd btn-info btn-outline full-width">
                                             <span class="btn-label">
                                             </span>Upload
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- INSTITUTION TYPE --->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card strpied-tabled-with-hover">
                                                <div class="card-body table-full-width table-responsive">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                        <th>Role</th>
                                                        <th class="text-center">Actions</th>
                                                        </thead>
                                                        <tbody>
                                                        {{ with .Roles }}
                                                            {{ range .}}
                                                                <tr>
                                                                    <td>{{ .RoleName}}</td>
                                                                    <td><div class="row justify-content-center">
                                                                            <div class="col-md-6">
                                                                                <a class="edit" title="Edit"
                                                                                   data-toggle="modal" data-target="#editRoleModal" href=""
                                                                                   onclick="editRoleForm({{.}})"><i
                                                                                            class="material-icons">&#xE254;</i></a>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <a class="delete" title="Delete"
                                                                                   href="/support/management/demography/role/delete/{{.Id}}"
                                                                                   data-toggle="tooltip"><i
                                                                                            class="material-icons">&#xE872;</i></a>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {{ end }}
                                                        {{ end}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Table with panel -->
                        </div>
                            </div>
                            <!-- Table with panel -->
                        </div>
                    </div>
                </div>


        <!------Title----->
        <div class="modal fade" id="editTileModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Extended material form grid -->
                        <form name="userTitleEditForm" method="POST"
                              action="/support/management/demography/update/title" novalidate>

                            <input type="hidden" class="form-control" name="Id" id="Id">


                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-12">
                                    <label for="Name">Title</label>
                                    <input type="text" class="form-control" name="titleName" id="titleName">

                                </div>
                            </div>


                            <!-- Grid row -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!------User_Role----->
        <div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Role </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Extended material form grid -->
                        <form name="userRoleEditForm" method="POST"
                              action="/support/management/demography/role/update" novalidate>

                            <input type="hidden" class="form-control" name="Id" id="Id">


                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-12">
                                    <label for="Name">Role</label>
                                    <input type="text" class="form-control" name="Role" id="Role">

                                </div>
                            </div>

                            <!-- Grid row -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!------Gender----->
        <div class="modal fade" id="editGenderModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Gender</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Extended material form grid -->
                        <form name="userGenderEditForm" method="POST"
                              action="/support/management/demography/update/gender" novalidate>

                            <input type="hidden" class="form-control" name="Id" id="Id">


                            <div class="form-row">
                                <!-- Default input -->
                                <div class="form-group col-md-12">
                                    <label for="Name">Title</label>
                                    <input type="text" class="form-control" name="genderName" id="genderName">

                                </div>
                            </div>


                            <!-- Grid row -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        {{ template "footer" .}}
            </div>

        </div>

</body>
<!--   Core JS Files   -->
<script src="../../../assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="../../../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../../../assets/js/plugins/bootstrap-switch.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="../../../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../../../assets/js/plugins/bootstrap-notify.js"></script>
<!--  jVector Map  -->
<script src="../../../assets/js/plugins/jquery-jvectormap.js" type="text/javascript"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="../../../assets/js/plugins/moment.min.js"></script>
<!--  DatetimePicker   -->
<script src="../../../assets/js/plugins/bootstrap-datetimepicker.js"></script>
<!--  Sweet Alert  -->
<script src="../../../assets/js/plugins/sweetalert2.min.js" type="text/javascript"></script>
<!--  Tags Input  -->
<script src="../../../assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript"></script>
<!--  Sliders  -->
<script src="../../../assets/js/plugins/nouislider.js" type="text/javascript"></script>
<!--  Bootstrap Select  -->
<script src="../../../assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<!--  jQueryValidate  -->
<script src="../../../assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="../../../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<!--  Bootstrap Table Plugin -->
<script src="../../../assets/js/plugins/bootstrap-table.js"></script>
<!--  DataTable Plugin -->
<script src="../../../assets/js/plugins/jquery.dataTables.min.js"></script>
<!--  Full Calendar   -->
<script src="../../../assets/js/plugins/fullcalendar.min.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../../../assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<!-- Light Dashboard DEMO methods, don't include it in your project! -->
<script src="../../../assets/js/demo.js"></script>

</html>
<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();


        demo.initVectorMap();

    });
    function editTitleForm(app) {
        var form = document.forms['userTitleEditForm'];
         form.elements["Id"].value = app.titleId;
        form.elements["titleName"].value = app.titlename;
         //form.elements["Description"].value = app.roleName;
    }
    function editGenderForm(app) {
        var form = document.forms['userGenderEditForm'];
        form.elements["Id"].value = app.genderId;
        form.elements["genderName"].value = app.genderName;
    }
    function editApplicantTypeForm(app) {
        var form = document.forms['userApplicantTypeEditForm'];
        form.elements["Id"].value = app.id;
        form.elements["Name"].value = app.name;
        form.elements["Description"].value = app.description;
    }
    function editRoleForm(app) {
        var form = document.forms['userRoleEditForm'];
        form.elements["Id"].value = app.id;
        form.elements["Role"].value = app.roleName;
    }



    function Deleting(id,value,title) {
        console.log(id +value+title);
        //Alert(id,value,title);
        swal({
            title: "Are you sure?",
            text: "<p>You will not be able to recover this Action.  You are about to Delete the following "+title+":"+ value+"</p>",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, proceed !",
            cancelButtonText: "No, cancel !",
            closeOnConfirm: false,
            closeOnCancel: false
        },function (isConfirm) {
            if (isConfirm) {
                //const url =BudgetURL+"/"+applicationId+"/"+amount
                const url=tosendBack(id,title);
                $.get(url, function(data){
                    if(data=true){
                        swal("Deletion!", "You have successfully delete.", "success");
                    }else {
                        swal("Error!", "Something went wrong.", "error");
                    }
                });
            } else {
                swal("Cancelled", "You have successfully cancelled allocation :)", "error");
            }
        });
    }
    function tosendBack(value,title) {
        const BudgetURL="http://155.238.30.101:4000/support/demography";
        switch(title) {
            case "title":
                // code block
                return url =BudgetURL+"/title/deleteJ/"+value;
                break;
            case "":
                // code block
                break;
            default:
            // code block
        }
    }
</script>
