{{define "footer"}}
    <footer class="footer">
        <div class="container">
            <nav>
                <p class="copyright text-center">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="">CPUT</a>, made with love for a better web
                </p>
                <p class="copyright text-center">
                    <i class="nc-icon nc-atom"></i>

                    <a href="http://www.motsepefoundation.org/">Motsepe Site</a>

                </p>
            </nav>
        </div>
    </footer>
{{end}}