{{define "sidebar"}}

    <div class="sidebar" data-color="orange" data-image="../assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo"
                 style="padding-left: 40px;padding-top: 0px;padding-bottom: 0px;background: #ffea00;height: 60px">

                <a href="admin_dashboard.page.html" class="simple-text logo-normal">

                    <img src="../../../assets/img/Logo-04.png" alt="Logo"
                         style="width: 176px; height: 55px;alignment: center">
                </a>
            </div>
            <div class="user">
                <div class="photo">
                    <img src="../../../assets/img/default-avatar.png"/>
                </div>
                <div class="info ">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>Tania Andrew
                                <!-- <b class="caret"></b> -->
                            </span>

                    </a>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
                        <i class="nc-icon nc-single-02"></i>
                        <p>
                            Profile Account
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse {{if eq .Tab "profile"}}show{{end}}" id="componentsExamples">
                        <ul class="nav">
                            <li class="nav-item {{if eq .SubMenu "view_profile"}}active{{end}} ">
                                <a class="nav-link" href="#">
                                    <span class="sidebar-mini">V</span>
                                    <span class="sidebar-normal">View Profil</span>
                                </a>
                            </li>
                            <li class="nav-item {{if eq .SubMenu "edit_profile"}}active{{end}}">
                                <a class="nav-link" href="#">
                                    <span class="sidebar-mini">E</span>
                                    <span class="sidebar-normal">Edit Profil</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="nav-item {{if eq .Tab "dashboard"}}active{{end}}">
                    <a class="nav-link" href="/admin">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {{if eq .Tab "application"}}active{{end}}">
                    <a class="nav-link" href="/admin/application">
                        <i class="nc-icon nc-attach-87"></i>
                        <p>Application</p>
                    </a>
                </li>
                <li class="nav-item {{if eq .Tab "applicant"}}active{{end}}">
                    <a class="nav-link" href="/admin/applicant">
                        <i class="nc-icon nc-single-02"></i>
                        <p>
                            Applicant
                            <!-- <b class="caret"></b> -->
                        </p>
                    </a>
                </li>
                <li class="nav-item {{if eq .Tab "budget"}}active{{end}}">
                    <a class="nav-link" href="/admin/budget">
                        <i class="nc-icon nc-money-coins"></i>
                        <p>
                            Budget
                            <!-- <b class="caret"></b> -->
                        </p>
                    </a>
                </li>
                <!--
                <li class="nav-item ">
                    <a class="nav-link" href="admin_remove.html">
                        <i class="nc-icon nc-simple-remove"></i>
                        <p> Remove</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="admin_documents.html">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p> Documents</p>
                    </a>
                </li>-->

                <hr />

                <li class="nav-item ">     <!-- to fix below href-->
                    <a class="nav-link" href="/logout">
                        <!-- <i class="nc-icon nc-single-copy-04"></i>-->
                        <p style="position: center">Log out </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{{end}}