<!DOCTYPE html>
<html>
<head>
    <title>Welcome | Motsepe OBAS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- favicons -->
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- favicons -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/custom-responsive-style.css">
    <link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript" src="../../../assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/all-plugins.js"></script>
    <script type="text/javascript" src="../../../assets/js/plugin-active.js"></script>
</head>


<body data-spy="scroll" data-target=".main-navigation" data-offset="150">
<section id="MainContainer">
    <!-- Header starts here -->
    <header id="Header">
        <nav class="main-navigation">
            <div class="container clearfix">
                <div class="site-logo-wrap">
                    <a class="logo" href="#"><img src="../../../assets/img/Logo-04.png" alt="Design Studio"></a>
                </div>
                <a href="javascript:void(0)" class="menu-trigger hidden-lg-up"><span>&nbsp;</span></a>
                <div class="main-menu hidden-md-down">
                    <ul class="menu-list">
                        <li><a class="nav-link" href="home" data-target="#HeroBanner">Home</a></li>
                        <li><a class="nav-link" href="login" data-target="#About">Login</a></li>
                        <li><a class="nav-link" href="register" data-target="#Portfolio">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu hidden-lg-up">
                <ul class="mobile-menu-list">
                    <li><a class="nav-link" href="home" data-target="#HeroBanner">Home</a></li>
                    <li><a class="nav-link" href="login" data-target="#About">Login</a></li>
                    <li><a class="nav-link" href="register" data-target="#Portfolio">Register</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Header ends here -->
    <!-- Banner starts here -->
    <section id="HeroBanner">
        <div class="box-content">
            <form method="post" action="../../index.html">
                <div class="box">
                    <h1>Registration</h1>

                    <label>
                        <input type="email" name="email" value="email" onFocus="field_focus(this, 'email');"
                               onblur="field_blur(this, 'email');" class="email"/>
                    </label>

                    <a href="#">
                        <div class="btn">Submit</div>
                    </a> <!-- End Btn -->

                </div> <!-- End Box -->

            </form>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
        </div>
    </section>
    <!-- Banner ends here -->

    <!-- Footer section starts here -->
    <footer id="Footer">
        <div class="container">
            <div class="social-share">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="footer-logo-wrap">
                CPUT student &copy; 2019. Designed by <a href="https://www.cput.ac.za/">Kujali Hub</a>
            </div>
        </div>
    </footer>
    <!-- Footer section ends here -->
</section>
</body>
<script>

    function field_focus(field, email) {
        if (field.value == email) {
            field.value = '';
        }
    }

    function field_blur(field, email) {
        if (field.value == '') {
            field.value = email;
        }
    }

    //Fade in dashboard box
    $(document).ready(function () {
        $('.box').hide().fadeIn(1000);
    });

    //Stop click event
    $('a').click(function (event) {
        event.preventDefault();
    });

</script>
</html>